@import url('https://fonts.googleapis.com/css2?family=LINE+Seed+JP&family=Noto+Sans+JP:wght@100..900&display=swap');
/* @import "tailwindcss";

@theme {
  --color-neutral-primary-soft: #f5f5f5;
  --color-heading: #111827;
  --color-body: #374151;

  --radius-base: 0.5rem;
  --shadow-xs: 0 1px 2px rgba(0,0,0,0.05);
} */

.body {
    background-color: #FDFAF8;
    font-family: "LINE Seed JP", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

menu {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    border: 1px solid #e7e7e7;
    display: flex;
    align-items: center;
}

menu img {
    height: 70px;
    width: auto;
}

menu li a {
    display: block;
    color: #333333;
    padding: 28px 16px;
    text-decoration: none;
}

menu li a:hover {
    background-color: #19484C;
    color: white;
}

menu li a.active {
    background-color: #5DA9A2;
    color: white;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main h1 {
    font-size: 64px;
    background-image: linear-gradient(to right, rgb(174, 51, 236), rgb(244, 138, 24));
    color: transparent;
    background-clip: text;
    text-align: center;
    margin: 32px;
}
main .welcomeDisplay {
    display: block;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

button {
    background-color: #19d4c2;
    border: none;   
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 16px;
    cursor: pointer;
    border-radius: 4px;
    float: right;
}

.numberOfUsersDisplay {
    display: flex;
    justify-content: center;
    padding: 12px;
}

.numberOfUsersDisplay div {
    padding: 12px;
    text-align: center;
}

.numberOfUsersDisplay div img {
    width: 100%;
}

.numberOfUsersDisplay div h2 {
    font-size: 36px;
    font-weight: 900;
    color: rgb(74, 140, 255);
}

/* Explore.html */
/* Four columns side by side */

* {
    box-sizing: border-box;
}
.column {
    float: left;
    width: 25%;
    padding: 10px 10px;
}
@media screen and (max-width: 700px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
.row {
    width: 100%;
    margin: 0 -5px;
}
.row:after {
    content: "";
    display: table;
    clear:both;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    min-height: 240px;
    width: 100%;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.column .card p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
}
.modal {
    max-width: 600px;
}
.modal .card {
    height: 400px;
}
.modal .card p {
    text-align:justify;
}
.modal .card a {
    float: right;
    text-decoration: none;
    color: blue;
}

/* myjournal.html */
.notifications {
    width: 100%;
}
.notifications .alert {
    display: flex;
    padding: 12px 16px;
    color: white;
    background-color: #3faeee;
    align-items: center;
}
.notifications .alert p {
    width: 100%;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover {
  color: black;
}
.newJournalBtn {
    margin-bottom: 16px;
}
.journalList {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    gap: 16px;
}
.journalList .card {
    text-align: justify;
    position: relative;
}
.journalList .card p {
    color: darkslategray;
}
.journalList .card .reads {
    position: absolute;
    right: 8px;
    top: 8px;
    color: gray;
}
.seeMoreBtn {
    margin-bottom: 16px;
    background-color: #19484C;
}

/* Login.html */
.loginCard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    width: 400px;
    justify-content: center;
    margin: auto;
}
.loginCard input[type=text], .loginCard input[type=password], .loginCard input[type=submit], .loginCard input[type=number], .loginCard a, .loginCard select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.loginCard button {
    justify-content: center;
    width: 100%;
}
.loginCard a {
    text-decoration: none;
    color: #19484C;
}

/* ALL PAGES - FOOTER */
footer {
    min-height: 50px;
    background-color: #f3f3f3;
    border: 1px solid #e7e7e7;
    display: block;
    align-content: center;
    padding-left: 16px;
    padding-right: 16px;
}

footer a {
    float: right;
    text-decoration: none;
    color: #19484C;
}